h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
}

/* --header-- */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-color {
  color: #2e2f42;
}

.header-menu-link {
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.5;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-contacts-link {
  color: #434455;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

/* --hero-- */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 1.07;
}

.hero-primary-btn {
  width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #4d5ae5;
}

.hero-primary-btn:hover,
.hero-primary-btn:focus {
  background: #404bbf;
}

/* --features-- */

.features-subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
}

/* --team-- */

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  text-align: center;
  line-height: 1.11;
}

.team-item {
  background-color: #ffffff;
}

.team-subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
}

/* --portfolio-- */

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  text-align: center;
  line-height: 1.11;
}

.portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
}

/* --footer-- */

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
